/* Background */
.stApp {
    background: linear-gradient(135deg,#216ce4,#043295,#011123);
}

/* Main Title */
h1{
    color:#00E5FF !important;
    text-align:center;
    font-size:55px !important;
    text-shadow:0px 0px 20px #131413;
}

/* Subtitle */
h3{
    color:white;
    text-align:center;
    text-shadow:0px 0px 20px #131413;
}


/* Buttons */
.stButton>button{
    background:#1702f9;
    color:rgb(248, 247, 247);
    border-radius:50px;
    font-weight:bold;
}

/* Upload Box */

[data-testid="stFileUploader"]{
    border:2px solid #0f0f0f;
    border-radius:20px;
    padding:20px;
    background:rgba(74, 74, 213, 0.03);
}

/* Sidebar */

section[data-testid="stSidebar"]{
    background:#0e1626;
}
.study-map-box {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #00E5FF;
    border-radius: 16px;
    padding: 30px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 229, 255, 0.15);
}
.st-key-study_map_box {
    background-color: #ffffff !important;
    color: #000000 !important;
    border-radius: 16px;
}

.st-key-study_map_box p,
.st-key-study_map_box li,
.st-key-study_map_box span,
.st-key-study_map_box h1,
.st-key-study_map_box h2,
.st-key-study_map_box h3,
.st-key-study_map_box h4,
.st-key-study_map_box strong {
    color: #000000 !important;
}